{% extends 'base.html' %}

{% load static %}

{% block title %}
    Публікації
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body %}

{% block window %}
<div class="window-back">
    <form class="window" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button id="close-btn" type="button"><img src="{% static 'home_app/img/close.png' %}"></button>
        <h1>Створення публікації</h1>
        <div class="window-content">
            <div class="window-input">
                <h3>Назва публікації</h3>
                <input type="text" id="post-title" name="title" placeholder="Наприклад: Природа, книга і спокій 🌿" required>
            </div>
            <div class="window-input">
                <h3>Тема публікації</h3>
                <input type="text" id="post-topic" name ='topic' placeholder="Тема публікації" required>
            </div>
            <div class="tags-container">
                <button type="button" class="tag">#відпочинок</button>
                <button type="button" class="tag">#натхнення</button>
                <button type="button" class="tag">#життя</button>
                <button type="button" class="tag">#природа</button>
                <button type="button" class="tag">#читання</button>
                <button type="button" class="tag">#спокій</button>
                <button type="button" class="tag">#гармонія</button>
                <img id="add-new-tag-btn" class="round-add-btn" src="{% static 'img/upload.svg' %}">
            </div>
            <div class="window-input">
                <textarea id="post-description" contenteditable="true" name="description">
                </textarea>
            </div>
            <div class="column">
                <div class="window-input social-link-field">
                    <h3>Посилання</h3>
                    <input type="text" id="post-link" name='link' placeholder="Посилання">
                </div>
                <img id="add-new-link-btn" class="round-add-btn" src="{% static 'img/upload.svg' %}">
            </div>
        </div>
        <div class="imgs-container row">
            <div class="img-preview-container" style="display: none;"><img src="" class="img-preview" style="display: none;" alt="preview"><button class="img-delete-btn" style="display: none;" type="button"></button></div>
            <input type="file" id="post-img" name="img" style="display: none;" multiple>
        </div>
        <div class="bottom">
            <button class="fast-message-content-button" id="post-img-btn" type="button"><img src="{% static 'home_app/img/picture.png' %}"></button>
            <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/emodji.png' %}"></button>
            <button id="publish-btn" class="filled" type="submit" data-url="{% url 'create' %}">Публікація<img src="{% static 'img/send.png' %}"></button>
        </div>
    </form>
</div>
{% endblock %}

<form class="context-menu" method="post">
    {% csrf_token %}
    <button type="button" id="edit-btn">Редагувати допис</button>
    <hr color="#CDCED2">
    <button type="submit" name="del-" id="del-btn">Видалити публікацію</button>
</form>

<div class="content">
    <aside class="fixed-left-panel">
        <div class="user-profile">
            <div class="user-profile-main-info">
                <a href="{% url 'settings' %}" class="profile-img-container">
                    {% if profile.image %}
                        <img class="user-profile-photo" src="{{ profile.image.url }}">
                    {% else %}
                        <img class="user-profile-photo" src="{% static 'home_app/img/UserPhoto.png' %}">
                    {% endif %}
                    <div class="user-status-dot"></div>
                </a>
                <div class="user-profile-username">
                    {% if request.user.get_full_name|length > 15 %}
                        <p class="user-profile-name">{{ request.user.get_full_name|slice:":15" }}...</p>
                    {% elif request.user.username|length > 15 %}
                        <p class="user-profile-name">{{ request.user.username|slice:":15" }}...</p>
                    {% else %}
                        <p class="user-profile-name">{{ request.user.username }}</p>
                    {% endif %}
                    <p class="user-profile-called-as">@{{ request.user.username }}</p>
                </div>
            </div>
            <div class="user-profile-social-stats">
                <div class="user-profile-social-stat-div">
                    <p class="user-profile-social-stat-publics-count user-profile-social-stat-count" id="user-profile-social-stat-publics-count">{{ posts_count }}</p>
                    <p class="user-profile-social-stat-name">Дописи</p>
                </div>
                <div class="user-profile-social-stat-div">
                    <p class="user-profile-social-stat-followers-count user-profile-social-stat-count">{{ followers_count }}</p>
                    <p class="user-profile-social-stat-name">Читачі</p>
                </div>
                <div class="user-profile-social-stat-div">
                    <p class="user-profile-social-stat-friends-count user-profile-social-stat-count">{{ friends_count }}</p>
                    <p class="user-profile-social-stat-name">Друзі</p>
                </div>
            </div>
        </div>
    </aside>
    <div class="unfixed-right-panel">
        <div class="fast-message">
            <div class="fast-message-content">
                <input class="fast-message-content-input" type="text" placeholder="Про що ти зараз думаєш?">
                <div class="fast-message-content-buttons">
                    <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/picture.png' %}"></button>
                    <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/emodji.png' %}"></button>
                    <button class="fast-message-content-button-publish" type="button">
                        <p>Перейти до оформлення</p>
                        <img src="{% static 'home_app/img/PlaneR.png' %}">
                    </button>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column-reverse;">
        {% for post in posts %}
        <div class="social-post">
            <div class="social-post-user-info">
                <div class="social-post-inner-user-info">
                    <div class="social-post-inner-user-info-total">
                        <a href="{% url 'profile' post.user.id %}">
                            {% if post.user.image %}
                                <img src="{{ post.user.image.url }}">
                            {% else %}
                                <img src="{% static 'home_app/img/UserPhoto.png' %}">
                            {% endif %}
                        </a>
                        <p>{{ post.user }}</p>
                    </div>
                    <div class="social-post-inner-user-info-sign">
                        <img src="{% static 'home_app/img/sign.png' %}">
                    </div>
                </div>
                <button class="social-post-dots" data-post-id="{{ post.id }}">
                    <img src="{% static 'img/dots.png' %}">
                </button>
            </div>
            <div class="social-post-info">
                <div class="social-post-info-text" data-post-id="{{ post.id }}">
                    <form method="post">
                        {% csrf_token %}
                        <textarea readonly class="social-post-text-content" data-post-id="{{ post.id }}" disabled>
{{ post.title }}
{{ post.description }}
#{{ post.tags }}
{{ post.link }}
                        </textarea>
                    </form>
                </div>
                <div class="social-post-info-photos">
                    <div class="social-post-info-photos-group-1">
                        {% if post.images.all %}
                            {% for image in post.images.all %}
                                <p><img src="{{ image.image.url }}" alt="Картинка публікації"></p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="social-post-info-stats">
                    <div class="social-post-info-stat-likes">
                        <img src="{% static 'home_app/img/like.png' %}">
                        <p>{{ post.likes }} Вподобань</p>
                    </div>
                    <div class="social-post-info-stat-views">
                        <img src="{% static 'home_app/img/eye.png' %}">
                        <p>{{ post.views }} Переглядів</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/create.js' %}"></script>
<script src="{% static 'js/area.js' %}"></script>
{% endblock %}