{% extends 'base.html' %}

{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'reg/css/reg.css' %}">
{% endblock %}

{% block body %}
<div class="main-container">
    <div class="content">
        <div class="switcher">
            <div class="tab active-tab ">
                <p>Реєстрація</p>
                <div class="active-tab-line"></div>
            </div>
            <div class="tab inactive-tab">
                <a href="{% url 'auth' %}">Авторизація</a>
            </div>
        </div>
        {% if codeform %}
        <div class="popup" >
            <form action="" method="post" >
                {% csrf_token %}
                <div>
                <input type="text" placeholder="0" name="num1" class="code-input" maxlength="1">
                <input type="text" placeholder="0" name="num2" class="code-input" maxlength="1">
                <input type="text" placeholder="0" name="num3" class="code-input" maxlength="1">
                <input type="text" placeholder="0" name="num4" class="code-input" maxlength="1">
                <input type="text" placeholder="0" name="num5" class="code-input" maxlength="1">
                </div>
                <button name="submitform" value="codeform" id="submitForm" type="submit">Підтвердити</button>
            </form>
        </div>
        {% else %}
                <h1>Приєднуйся до World IT</h1>
        <form class="reg-form" id="form" method="post">
            {% csrf_token %}
            <div class="reg-form-main" >
                <div class="reg-form-inputs" >
                    <label for="email">Електронна пошта</label>
                    {{ form.email }}
                </div>
                <div class="reg-form-inputs">
                    <label for="password">Пароль</label>
                    {{ form.password }}
                    <button type="button" id="password-eye"><img src="{% static 'reg/img/eye.png' %}"></button>
                </div>
                <div class="reg-form-inputs">
                    <label for="confirm_password">Підтверди пароль</label>
                    {{ form.confirm_password }}
                    <button type="button" id="confirmation-password-eye" ><img src="{% static 'reg/img/eye.png' %}"></button>
                </div>
            </div>
            <button name="submitform" value="mainform" id="submitForm" type="submit">Створити акаунт</button>
        </form>
        {% endif %}
    </div>
    <img class="back-img" src="{% static 'reg/img/background-mac-iphone.png' %}">
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'reg/js/reg.js' %}" ></script>

{% endblock %}