.window-back {
    display: block;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: #000000e8;

    width: 100%;
    height: 100vh;

    z-index: 1;

    transition: all 0.15s;
}

.window-back.show {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.window-back.show .window {
    visibility: visible;
    opacity: 1;
}

.window {
    visibility: hidden;
    opacity: 0;

    background-color: white;
    color: #070A1C;

    width: 773px;

    border-radius: 20px;

    padding: 44px;
    padding-top: 24px;

    transition: all 0.1s !important;
}

.window-input {
    display: flex;
    flex-direction: column;

    gap: 6px;
}

.window-content {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.window h3 {
    font-size: 16px;
}

.window input, textarea {
    background-color: white;
    border: 1px solid #CDCED2;
    padding: 10px 16px;

    border-radius: 10px;
    resize: none;
}

.window input {
    width: 343px;
    height: 42px;
}

.window textarea {
    width: 100%;
    height: 126px;
}

.window input:focus, textarea:focus {
    outline-color: #81818D;
}

.window textarea::-webkit-scrollbar {
    background-color: #E9E5EE;
    width: 8px;
}

.window textarea::-webkit-scrollbar-thumb {
    background-color: #543C52;
    border-radius: 10px;
}

.imgs-container {
    flex-wrap: wrap;
    margin-top: 10px;
}
.imgs-container div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: fit-content;
    overflow: hidden;
    border-radius: 16px;

    width: 217px;
    height: 265px;
}
.imgs-container div img {
    width: 265px;
    height: 265px;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.img-delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;

    background-image: url('../img/bin.svg');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;

    width: 40px;
    height: 40px;

    border: 1px solid #543C52;
    border-radius: 100px;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    height: 40px;
}

.outlined {
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;

    width: 40px;
    height: 40px;

    padding: 10px;
}

.filled {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #543C52;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 10px 16px;
}

.filled img {
    width: 20px;
    height: 20px;
}

#close-btn {
    position: absolute;
    top: 24px;
    right: 44px;
    background-color: transparent;

    width: 40px;
    height: 40px;
    padding: 10px;

    border: none;
    border-radius: 20px;

    transition: all 0.2s;
}

#close-btn:hover {
    background-color: gainsboro;
}

.imgs-container div {
    border-radius: 16px;
}

.context-menu {
    position: absolute;
    right: 60px;

    opacity: 0;
    visibility: hidden;
    flex-direction: column;

    width: 100px;
    height: 100px;

    background-color: #E9E5EE;
    border-radius: 10px;
    padding: 5px 16px;
    padding-top: 16px;

    gap: 5px;

    transition: all 0.2s;

    z-index: 1;
}

.context-menu.show {
    opacity: 1;
    visibility: visible;

    width: 343px;
    height: 114px;
}

.context-menu button {
    font-weight: 500;
    text-align: left;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.context-menu button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    color: #543C52;
    background-color: #E9E5EE;
    border: none;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}

.round-add-btn {
    width: 20px;
    height: 20px;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    cursor: pointer;
}