{% extends 'base.html' %}

{% load static %}

{% block title %}
    Публікації
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body %}
<div class="content">
    <aside class="fixed-left-panel">
        <div class="user-profile">
            <div class="user-profile-main-info">
                <a href="" class="profile-img-container">
                    {% if profile.image %}
                        <img class="user-profile-photo" src="{{ profile.image.url }}">
                    {% else %}
                        <img class="user-profile-photo" src="{% static 'home_app/img/UserPhoto.png' %}">
                    {% endif %}
                    <div class="user-status-dot"></div>
                </a>
                <div class="user-profile-username">
                    {% if profile.user.get_full_name|length > 17 %}
                        <p class="user-profile-name">{{ profile.user.get_full_name|slice:":17" }}...</p>
                    {% elif profile.user.username|length > 17 %}
                        <p class="user-profile-name">{{ profile.user.username|slice:":17" }}...</p>
                    {% else %}
                        <p class="user-profile-name">{{ profile.user.username }}</p>
                    {% endif %}
                    <p class="user-profile-called-as">@{{ profile.user.username }}</p>
                </div>
            </div>
            <div class="user-profile-social-stats">
                <div class="user-profile-social-stat-div">
                    <p class="user-profile-social-stat-publics-count user-profile-social-stat-count" id="user-profile-social-stat-publics-count">{{ posts_count }}</p>
                    <p class="user-profile-social-stat-name">Дописи</p>
                </div>
                <div class="user-profile-social-stat-div">
                    <p class="user-profile-social-stat-followers-count user-profile-social-stat-count">{{ followers_count }}</p>
                    <p class="user-profile-social-stat-name">Читачі</p>
                </div>
                <div class="user-profile-social-stat-div">
                    <p class="user-profile-social-stat-friends-count user-profile-social-stat-count">{{ friends_count }}</p>
                    <p class="user-profile-social-stat-name">Друзі</p>
                </div>
            </div>
        </div>
    </aside>
    <div class="unfixed-right-panel">
        {% if posts %}
            {% for post in posts %}
                <div class="social-post">
                    <div class="social-post-user-info">
                        <div class="social-post-inner-user-info">
                            <div class="social-post-inner-user-info-total">
                                {% if post.user.image %}
                                    <img src="{{ post.user.image.url }}">
                                {% else %}
                                    <img src="{% static 'home_app/img/UserPhoto.png' %}">
                                {% endif %}
                                <p>{{ post.user }}</p>
                            </div>
                            <div class="social-post-inner-user-info-sign">
                                <img src="{% static 'home_app/img/sign.png' %}">
                            </div>
                        </div>
                        <button class="social-post-dots" data-post-id="{{ post.id }}">
                            <img src="{% static 'img/Dots.png' %}">
                        </button>
                    </div>
                    <div class="social-post-info">
                        <div class="social-post-info-text" data-post-id="{{ post.id }}">
                            <form method="post">
                                {% csrf_token %}
                                <!--#{{ post.tags }}-->
                                <textarea readonly class="social-post-text-content" data-post-id="{{ post.id }}" disabled>
{{ post.title }}
{{ post.description }}

{{ post.link }}
                                </textarea>
                            </form>
                        </div>
                        <div class="social-post-info-photos">
                            <div class="social-post-info-photos-group-1">
                                {% if post.images.all %}
                                    {% for image in post.images.all %}
                                        <p><img src="{{ image.image.url }}" alt="Картинка публікації"></p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="social-post-info-stats">
                            <div class="social-post-info-stat-likes">
                                <img src="{% static 'home_app/img/like.png' %}">
                                <p>{{ post.likes }} Вподобань</p>
                            </div>
                            <div class="social-post-info-stat-views">
                                <img src="{% static 'home_app/img/eye.png' %}">
                                <p>{{ post.views }} Переглядів</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <script>document.body.style = 'overflow-y: hidden;'</script>
            <div class="center" style="width: 100%;">
                <p>Нажаль, у цього користувача немає жодної публікації</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/area.js' %}"></script>
{% endblock %}